.container-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

}

.dashboard-header {
    text-align: center;

}

.chartArea {
    
    
    height: 18em;
    width: 30em;
    border: 5px solid lightslategray;
    
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    
}

